body {
    background: #fefefe;
}

.plcholder_10em {
    height: 10em;
}
.plcholder_1p5em {
    height: 1.5em;
}
.plcholder_7em {
    height: 7em;
}
.plcholder_3em {
    height: 3em;
}
.plcholder_5em {
    height: 5em;
}

a {
    color: rgb(0, 112, 192);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/*==================================*/
.Cont {
    font: 1em "Karla", sans-serif;
	color: #333;
	line-height: 1.5;
	text-align: justify;
    margin:auto;
    max-width:50em;
}
.Cont h1 {
    text-align: center;
    color: rgb(139,31,21);
    font: 1.55em "Neuton", serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.Cont .byline {
    font-style: italic;
}
.Cont .chhead {
    font-weight: bold;
}
.Cont .chheadbig {
    font-weight: bold;
    font-size: 1.2em;
}
/*==================================*/
.boldness {
    font-weight: bold;
}
.div2res {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.right1pxborderres {
    border-right: 1px solid #BCBCBC;
    margin-right: 2%;
    width: 47%;
}
.right1pxborderres_rightone {
    width: 47%;
    margin-left: 2%;
}
.centeredAlign {
    text-align: center;
}
.nomargin {
    margin: 0;
}
.restricted70 {
    width: 70%;
    margin: auto;
}
.fullwidth {
    width: 100%;
}
.verticalmargin1em {
    margin-top: 1em;
    margin-bottom: 1em;
}
.restrictY {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.button_blue {
    font: 0.9em 'Montserrat', sans-serif;
    color: #3190e7;
    background: #fefefe;
    cursor: default;

    border: 1px solid #3190e7;
    padding: 10px 15px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    display: inline-block;
}
.button_blue_sanborder {
    color: #3190e7;
    background: #fefefe;
    padding: 7px 12px;
    cursor: default;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    overflow: hidden;
}
.button_blue_sanborder:hover {
    color: #fefefe;
    background: #3190e7;
    text-decoration: none;
}
.button_blue_sanborder_collapser {
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
deled {
    text-decoration: line-through;
}

@media screen and (max-width: 480px) {
    .div2res {
        width: 100%;
        margin-bottom: 2em;
        display: block;
    }
    .force_no_margin_bottom {
        margin-bottom: 0px;
    }
    .right1pxborderres {
        border-right: 0px;
        margin-right: 0px;
    }
    .right1pxborderres_rightone {
        margin-left: 0px;
    }
    .restricted70 {
        width: 100%;
    }
}
