
#topBar {
    position:absolute;
    width:100%;
    height:15em;
    top:0em;
    left:0em;
    background: #fefefe;
    border-bottom: solid 1px #e4e3e5;
    overflow: hidden;
    font-size: 1.05em;
    font-family: "Neuton", serif;
}
#clearABS {
    top: 17em;
    position: relative;
}

#topBarCont {
    display: table;
    margin: 0 auto;
    font-size: 1em;
}

@media screen and (max-width: 480px) {
    #topBarCont {
        display: table;
        margin: 0 auto;
    }
}

#title1 {
    margin: auto;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

#t_byline {
    font-size: 1.5em;
    display: block;
}

#t_title {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.1em;
    display: block;
}
#langSwitch {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    font: 0.9em 'Montserrat', sans-serif;
    border: 1px solid transparent;
    background: #fefefe;
    overflow: hidden;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.langSwitchwb {
    border: 1px solid #3190e7 !important;
}

.t_byline2 {
    font-size: 1.1em;
    display: table;
    margin: 0 auto;
}

.picdemo_cont {
    margin: 0.5em;
    text-align: center;
    display: inline-block;
}
.pic_demo {
    height: 7em;
}

.legen {
    font-size: 0.8em;
    color: rgb(0, 112, 192);
}
